body{
  	background: #FFFFFF;
  	margin:0;
  	padding:0;
  }
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  section{
	overflow: hidden;/*
  	min-height:2500px;*/
  }
  section a{
	text-decoration: none;
  }
  #find_pwd_sec{
    box-sizing: border-box;
    padding:70px 50px;
    width: 1000px;
    margin:0 auto;
    overflow: hidden;
    margin-top:97px;
  }
  #find_pwd_sec #find_pwd_title{
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    border-bottom:1px dashed #c5c5c5;
    margin-bottom:28px;
    margin-left: 40px;
    font-size: 18px;
    color: #bc002d;
    position: relative;
  }
  #find_pwd_title img{
    position: absolute;
    left: -40px;
    top: 0;
  }
  #find_pwd_sec #find_type{
    padding-left: 40px;
  }
  #find_type input{
    width: 13px;
    height: 13px;
    margin: 0;
  }
  #find_type label{
    min-width: 56px;
    height: 21px;
    margin:0 30px 0 5px;
    font-weight: normal;
  }
  #find_pwd_sec .find_pwd_box{
    width: 100%;
    overflow: hidden;
    padding:20px 0 0 40px;
    float: left;
    color: #000;
    line-height: 50px;
    position: relative;
  }
  /* 手机找回*/
  .find_pwd_box h4{
    font-size: 14px;
    color: #757575;
  }
  #find_phone_form #phone_num{
    width: 180px;
    height: 37px;
    border: 1px solid #c5c5c5;
    margin: 20px 0 0 0;
    padding: 5px;
    font-size: 15px;
    line-height: 25px;
    color: #b7b7b7;
  }
  #find_phone_form #phone_num_button{
    border: none;
    margin-left: 20px;
    color: #757575;
    height: 25px;
    min-width: 105px;
    line-height: 20px;
    border-radius: 4px;
    font-size: 12px;
  }
  #find_phone_form #verific_code{
    width: 180px;
    height: 37px;
    border: 1px solid #c5c5c5;
    margin: 10px 0 0 0;
    padding: 5px;
    font-size: 15px;
    line-height: 25px;
    color: #b7b7b7;
  }
  #find_phone_form #find_phone_submit{
    margin-top: 60px;
    margin-left: 40px;
    width: 123px;
    height: 36px;
    border-radius: 6px ;
    border:#757575;
    background: #757575;
    font: 500 16px "微软雅黑";
    line-height: 36px;
    color: #fff;
    text-align: center;
  }
  #find_phone_form #verific_code_box{
    position: absolute;
    top: 83px;
    left: 404px;
    width: 152px;
    height: 113px;
    font-size: 12px;
    border: 1px solid #d7d6db;
    line-height: 38px;
  }
  #verific_code_box span{
    margin-left: 10px;
  }
  #verific_code_box #verific_box{
    height: 27px;
    width: 62px;
    float: left;
    border: 1px solid #c5c5c5;
    margin-left:11px;
  }
  #verific_code_box img{
    width: 68px;
    height: 27px;
    float: left;
  }
  #verific_code_box a{
    float: left;
    text-decoration: none;
    display: block;
    margin: 10px 0 0 30px;
    background: #BC002D;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    width: 90px;
    height: 26px;
    line-height: 25px; 
  }
  /*邮箱找回*/
  #find_email_form #user_num{
    width: 180px;
    height: 37px;
    border: 1px solid #c5c5c5;
    margin: 20px 0 0 0;
    padding: 5px;
    font-size: 15px;
    line-height: 25px;
    color: #b7b7b7;
  }
  #find_email_form #email_num{
    width: 180px;
    height: 37px;
    border: 1px solid #c5c5c5;
    margin: 10px 0 0 0;
    padding: 5px;
    font-size: 15px;
    line-height: 25px;
    color: #b7b7b7;
  }
  #find_email_form #find_email_submit{
    margin-top: 60px;
    margin-left: 40px;
    width: 123px;
    height: 36px;
    border-radius: 6px ;
    border:#757575;
    background: #757575;
    font: 500 16px "微软雅黑";
    line-height: 36px;
    color: #fff;
    text-align: center;
  }
  #re_pwd_sec{
    box-sizing: border-box;
    padding:70px 50px;
    width: 1000px;
    margin:0 auto;
    overflow: hidden;
    margin-top:97px;
  }
  #re_pwd_sec #re_pwd_title{
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    border-bottom:1px dashed #c5c5c5;
    margin-bottom:28px;
    margin-left: 40px;
    font-size: 18px;
    color: #bc002d;
    position: relative;
  }
  #re_pwd_title img{
    position: absolute;
    left: -40px;
    top: 0;
  }
  #re_pwd_sec #re_pwd_box{
    width: 860px;
    height: 155px;
    float: left;
    margin:20px 0 0 40px;
  }
  #re_pwd_box form ul li{
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  #re_pwd_box form ul li .re_pwd_1{
    width: 282px;
    height: 50px;
    margin-right: 20px;
    float: left;
    text-align: right;
    line-height: 50px;
    font-size: 13px;
  }
  #re_pwd_box form ul li .re_pwd_2{
    float: left;
    height: 34px;
    margin:7px 0;
   }
  #re_pwd_box form ul li .re_pwd_3{
     width: 123px;
    height: 36px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    background:#BC002D;
    color: #fff; 
    border:0;
    border-radius: 8px;
   }