 body{
  	background: #FFFFFF;
  	margin:0;
  	padding:0;
  }
 main section {
   font: normal 14px/1.5 "微软雅黑",Verdana, Geneva, sans-serif;
   color: #757575;
 }
  ul{
    list-style: none;
    margin:0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  section{
	overflow: hidden;/*
  	min-height:2500px;*/
  }
  section a{
	text-decoration: none;
  }
  header{
  	width: 100%;
  	height: 97px;
  	position: fixed;
  	left: 0;
  	top: 0;
  	z-index: 3;
  }
  #log_reg_cake{
    width: 100%;
    height: 475px;
    background:#BC002D;
  }
  #log_reg_cake #log_reg_box{
    width: 1100px;
    height: 400px;
    margin:0 auto;
    position: relative;
    background: url('../images/login_register/log_reg_1.png')no-repeat 0 50px;
  }
  /*登录部分*/
  #log_reg_box #log_box{
    display: block;
    width: 340px;
    height: 330px;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    top: 40px;
    padding: 30px;
  }
  #log_box #type_log_box{
    width: 100%;
    height: 35px;
  }
  #type_log_box li{
    display: block;
    width: 140px;
    height: 21px;
    float: left;
  }
  #type_log_box li label{
    font-weight: bold;
    color: #555555;
    font-size: 14px;
  }
  #log_box #form_box_log{
    width:100%;
    overflow: hidden;
    float: left;
  }
  /*普通会员登录...................*/
  #form_box_log #form_name_log{
    display: block;
    width: 100%;
    overflow: height;
    float: left;
  }
  #form_name_log li{
    width: 100%;
    height: 40px;
  }
  #form_name_log li a{
    color: #757575;
  }
  #form_name_log li input{
    display: block;
    width: 100%;
    border: 1px solid #dedede;
    height: 30px;
    font-size: 14px;
    line-height: 100%;
    padding: 4px;
    box-sizing: border-box;
    outline: none;
  }
  #form_name_log .type_li_log{
    height: 30px;
  }
  .type_li_log a{
    display: block;
    text-decoration: none;
    width: 70px;
    height: 21px;
    color: #757575;
    float: right;
  } 
  .type_li_log #checkbox_log{
    width: 13px;
    height: 30px;
    margin: 0;
    float: left;
  }
  .type_li_log #submit_log{
    background: #BC002D;
    border-color: #bc002d;
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    margin: 0;
    float: left;
  }
  .type_li_log label{
    line-height: 25px;
    width: 100px;
    height: 20px;
  }
  #log_box p{
    width: 100%;
    height: 63px;
    margin:0;
    float: left;
  }
  /*普通会员登录...................*/

  #form_box_log #form_phone_log{
    display: none;
    width: 100%;
    overflow: height;
    float: left;
  }
  #form_phone_log li{
    width: 100%;
    height: 40px;
  }
  #form_phone_log li a{
    color: #757575;
  }
  #form_phone_log li input{
    display: block;
    width: 100%;
    border: 1px solid #dedede;
    height: 30px;
    font-size: 14px;
    line-height: 100%;
    padding: 8px;
    box-sizing: border-box;
    outline: none;
    float: left;
  }
  #form_phone_log li #log_phnum{
    width: 50%;
    float: left;
  }
  #form_phone_log li #button_log{
    width: 50%;
    background-color: #fe6a00;
    border-color: #fe6a00;
    color: #fff;
    float: left;
  }
  #form_box_log #box_float_phone{
    display: none;
    width: 188px;
    height: 120px;
    position: absolute;
    top: 135px;
    left: 50%;
    z-index: 1;
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 10px;
  }
  #box_float_phone p{
    width: 100%;
    height: 31px;
    margin: 0;
    padding-bottom: 10px;
    float: left;
  }
  #box_float_phone input{
    width:55%;
    height: 30px;
    border: 1px solid #DEDEDE;
    margin-bottom: 10px;
    float: left;
    }
  #box_float_phone img{
    width: 45%;
    height: 30px;
    margin-bottom:10px;
    float: left;
  }
  .confirm_box{
    width: 100%;
    height: 30px;
    float: left;
  }
  #box_float_phone a{
    display: block;
    height: 30px;
    width: 58px;
    padding: 5px 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #BC002D;
    border-radius: 3px;
    margin:0 auto;
  }
  /*注册部分*/
  #log_reg_box #reg_box{
    display: block;
    width: 340px;
    height: 360px;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    top: 40px;
    padding: 30px;
  }
  #reg_box form #box_float2_phone{
    display: none;
    width: 188px;
    height: 120px;
    position: absolute;
    top: 135px;
    left: 50%;
    z-index: 1;
    background: #fff;
    border: 1px solid #DEDEDE;
    padding: 10px;
  }
  #box_float2_phone p{
    width: 100%;
    height: 31px;
    margin: 0;
    padding-bottom: 10px;
    float: left;
  }
  #box_float2_phone input{
    width:55%;
    height: 30px;
    border: 1px solid #DEDEDE;
    margin-bottom: 10px;
    float: left;
    }
  #box_float2_phone img{
    width: 45%;
    height: 30px;
    margin-bottom:10px;
    float: left;
  }
  #box_float2_phone a{
    display: block;
    height: 30px;
    width: 58px;
    padding: 5px 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #BC002D;
    border-radius: 3px;
    margin:0 auto;
  }
  #reg_box h4{
    width: 100%;
    height: 35px;
    color: #000;
    margin:0;
    font-size: 14px;  
    font-weight: bold;
    line-height: 20px;
  }
  #reg_box form #form_box_reg{
    width:100%;
    margin:0;
    float: left;
  }
  #form_box_reg li{
    width: 100%;
    height: 40px;
    padding-bottom: 10px;
    float: left;
  }
  #form_box_reg input{
    width: 100%;
    height: 30px;
    border: 1px solid #DEDEDE;
    padding:4px;
    float: left;
    font: 14px Arial;
  }
  #form_box_reg  li #reg_phnum{
    width:50%;
    height: 30px;
    float: left;
  }
  #form_box_reg  li a{
    display: block;
    width: 50%;
    height:30px;
    float: left;
    background-color: #fe6a00;
    font-size: 14px;
    line-height: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #fff; 
    font-weight: 100;
    text-align: center;
  }
  #form_box_reg li #submit_reg{
    background: #BC002D;
    border-color: #bc002d;
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    margin: 0;
    float: left;
    word-spacing: normal;
  }



  footer{
    width: 100%;
    overflow: hidden;
    float: left;
  }