	.shopcar_main{
		width: 1170px;
    	height: auto;
    	margin: 0 auto;
    	padding: 10px 15px;
	}
	.shopcar_main .order_step{
		width: 900px;
    	height: 55px;
    	margin: 30px auto 0 auto;
	}
	.shopcar_main .order_step div{
		height: 55px;
    	float: left;
    	font-size: 18px;
    	line-height: 55px;
    	display: block;
	}
	.shopcar_main .order_step .step1{
		width: 210px;
    	padding: 0 0 0 120px;
    	background: url(../images/shopcar/order_01.png) no-repeat 0 -165px;
	}
	.shopcar_main .order_step .step2{
		width: 264px;
    	margin: 0 0 0 80px;
    	padding: 0 0 0 120px;
    	background: url(../images/shopcar/order_01.png) no-repeat 0 -55px;
	}
	.shopcar_main .order_step .step3{
		width: 228px;
    	margin: 0 0 0 80px;
    	padding: 0 0 0 120px;
    	background: url(../images/shopcar/order_01.png) no-repeat 0 -110px;
	}	
	.shopcar_main .order_info{
		width: 970px;
    	height: auto;
    	padding: 50px 0 0 0;
	}
	.order_info .order_bill{
	    width: 1170px;
		height: auto;
    	padding: 20px 0 0 0;
	}
	.order_bill .order_title{
		width: 1170px;
    	height: 20px;
    	border-bottom: 1px solid #bcbcbc;
    	font-size: 16px;
    	line-height: 13px;
    	color: #000;
	}
	.order_title .lump{
		width: 4px;
    	height: 16px;
    	margin: 0 5px 0 0;
    	background-color: #cf0f25;
    	float: left;
	}
	.order_bill .order_text{
		width: 1170px;
    	height: auto;
	}
	.order_text .address{
		width: 1100px;
    	height: auto;
    	margin: 10px auto;
	}
	.order_text .address table{
		width: 1100px;
	}
	.order_text .address table tbody tr th{
		padding: 10px 0;
    	font-weight: 500;
    	text-align: center;
    	vertical-align: middle;
    	border-bottom: 1px dotted #bcbcbc;
	}
	.order_text .address table tbody tr td{
		padding: 10px 0;
    	font-weight: 500;
    	text-align: center;
    	vertical-align: middle;
    	color: #000;
    	border-bottom: 1px dotted #bcbcbc;
	}
	.goods_name{
		text-align: center;
	}
	.order_text .address table tbody tr td .goods_name a{
		float: left;
    	display: block;
    	font-size: 12px;
    	color: #bcbcbc;
    	text-decoration: none;
	}
	.order_text .address table tbody tr td .goods_name img{
		width: 200px;
    	height: 200px;
	}
	.order_text .address table tbody tr td .goods_name .name{
		display: block;
    	float: left;
    	margin: 88px 5px;
    	color: #000;
    	font-size: 14px;
    	line-height: 24px;
	}
	.order_text .address table .minus{
		width: 30px;
    	height: 27px;
    	border: 1px solid #757575;
    	float: left;
    	text-align: center;
    	cursor: pointer;
    	background-color: #FFF;
    	color: #757575;
	}
	.order_text .address table .number{
		width: 50px;
    	height: 27px;
    	margin: 0 5px;
    	border: 1px solid #757575;
    	float: left;
    	text-align: center;
    	line-height: 25px;
    	color: #757575;
    	text-align: center;
	}
	.order_text .address table .plus{
		width: 30px;
    	height: 27px;
    	border: 1px solid #757575;
    	float: left;
    	text-align: center;
    	cursor: pointer;
    	background-color: #FFF;
    	color: #757575;
	}
	.order_text .address table tbody tr td .del{
		width: 22px;
    	height: 22px;
    	margin: 0 0 0 2px;
    	float: left;
    	background: url(../images/shopcar/1.gif) no-repeat 0 0;
    	cursor: pointer;
	}
	.order_text .address table tbody tr td .del a{
		display: block;
    	width: 22px;
    	height: 22px;
    	text-decoration: none;
	}
	.shopcar_main .order_operate{
		width: 1170px;
    	height: auto;
    	padding: 10px 0;
	}
	.order_operate .order_text{
		width: 1170px;
    	height: auto;
    	margin: 10px 0;
	}
	.order_operate .order_text .cost{
		margin: 30px 0 20px 0;
    	text-align: right;
    	color: #000;
	}
	.order_operate .order_text .submit_left{
		margin: 10px 0 10px 10px;
    	float: left;
    	line-height: 36px;
    	text-align: center;
        width: 123px;
        height: 36px;
        border: none;
        background: #BC002D;
        font: 500 16px "微软雅黑";
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
	}
    .order_operate .order_text .submit_left a{
        color: #fff;
    }
    .order_operate .order_text .submit{
        margin: 10px 0 10px 10px;
        float: right;
        line-height: 36px;
        text-align: center;
        width: 123px;
        height: 36px;
        border: none;
        background: #BC002D;
        font: 500 16px "微软雅黑";
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }
    .order_operate .order_text .submit a{
        color: #fff;
    }
    .order_history .order_title{
        font-size: 16px;
        line-height: 16px;
        color: #000;
    }
    .order_history .history_text{
        width: 1170px;
        height: 250px;
        margin: 15px 0 0 0;
    }
    .order_history .history_text div{
        width: 175px;
        height: 250px;
        float: left;
        margin: 0 18px 0 0;
    }
    .order_history .history_text div img{
        width: 175px;
        height: 165px;
        border: 1px solid #f5ede9;
    }
    .order_history .history_text .name_price{
        height: 46px;
        padding: 16px 0 0 0;
        text-align: center;
    }
    .order_history .history_text .submit{
        width: 123px;
        height: 36px;
        margin: 0 26px;
        text-align: center;
        float: left;
        line-height: 36px;
        border: none;
        background: #BC002D;
        font: 500 16px "微软雅黑";
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
    }
    .order_history .history_text .submit a{
        color: #fff;
    }
